.accordion-parent-detail {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 30px;

  .option-content-container {
    .line-content {
      outline: none;
    }
    .edit-header-co {
      font-weight: bold;
    }
    .show-option {
      position: absolute;
      display: flex;
      justify-content: start;
      top: -2px;
      left: -30px;
      button {
        height: 15px;
        width: 15px;
        position: absolute;
        left: 3px;
        padding: 10px;
        top: 3px;
      }
      .plus-icon {
        height: 15px;
        width: 15px;
        color: #333;
        font-weight: bold;
      }
    }
  }
}
