.format-container {
  position: relative;
  .button-container {
    position: absolute;
    right: 0;
    top: -28px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    // border: 1px solid #c9c9c9;
    .button-exec-icon {
      background-color: #fff;
      border: navajowhite;
      // border-right: 1px solid #c9c9c9;
      cursor: pointer;
      padding: 5px;
    }
    .button-exec-icon:hover {
      background-color: #eee;
    }
    img {
      height: 12px;
    }
  }
}
