.enriched-menu-wrapper {
  #renameTermsModal {
  }
}
.terms-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  li {
    list-style-type: none;
    .term-item {
      border: none;
      background: none;
      background-color: white;
      color: black;
      border-radius: none;
      display: flex;
      width: 100%;
      justify-content: space-between;
      &:hover,
      &:focus,
      &.active {
        background-color: #ecf3ff;
      }
      svg {
        width: 0.7em;
        height: 0.7em;
      }
    }
  }
}
.main-popper {
  padding: 8px 0;
}
.sub-popper {
  padding: 8px 0;
  .terms-list {
    width: 146px;
    .sub-term-text {
      overflow: hidden;
      text-overflow: ellipsis;
      // display: block;
      // width: 80%;
    }
  }
}
.edit-Icon {
  padding-left: 10px;
}
.button-style {
  position: absolute;
  top: 1%;
  margin-left: 80%;
}
.delete-tag {
  display: flex;
  flex-direction: row-reverse;
  color: rgb(16, 179, 243);
  height: 25px;
}
