.filter-chip {
  margin-bottom: 10px;
  border: 1px solid #e9e9e9;
  padding: 0 0;
  overflow: hidden;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 4%);
  max-height: 200px;
  overflow: auto;
  .filters {
    padding: 10px;
    font-size: 12px;
    .section {
      label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 7px;
      }
      .chip-inside {
        margin-bottom: 5px;
      }
    }
  }
}
