.search {
  padding-left: 20px;
  max-width: 1140px;
  margin: 70px auto;

  .spon-container .Collapsible__contentOuter {
    max-height: none;
  }
  .searchPanel {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  .searchPanel > div > button {
    // display: none;
  }

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .MuiFormControl-marginNormal {
    margin-top: 10px;
  }
  .MuiCardContent-root {
    padding: 0 !important;
    .text-filter {
      padding: 0 16px;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-bottom: 8px;
      border-left: 5px solid transparent;
      transition: 0.3s;
      &:hover {
        background-color: #ecf3ff;
        border-left: 5px solid blue;
      }
    }
    label {
      padding: 0 16px;
      margin-right: 0;
      margin-left: 0;
      border-left: 5px solid transparent;
      transition: 0.3s;
      &:hover {
        background-color: #ecf3ff;
        border-left: 5px solid blue;
        transition: all 0.4s ease-out;
      }
    }
  }
  .rdt {
    width: auto;
    .dtInput-helperText {
      margin-top: 0;
      min-height: 0;
    }

    .dtContainer {
      padding: 0px 12px;
      margin-top: 5px;

      label {
        padding: 0;
        border-left: 5px solid transparent;
        &:hover {
          background-color: #fff;
          border-left: 5px solid transparent;
          transition: all 0.4s ease-out;
        }
      }
      .dtInput {
        width: auto;
      }
    }
    .rdtPicker {
      width: 100%;
      position: inherit;
      border: none;
      padding-top: 5px;
      margin-top: 0px;
    }
  }

  // .Panel-toggleButton-246{
  //   display: none;
  // }

  // button[class*="Panel-toggleButton-"] {
  //   display: none;
  // }
  // [class^="Panel-toggleButton"] {
  //   background: #ffff00;
  // }

  // [class^="Panel-toggleButton"] {
  //   display: none;
  // }
  .accordion-start > div {
    border-bottom: none;
  }
  .accordion-start {
    .grid-key-value {
      margin-right: 20px;
    }
    td {
      a {
        text-decoration: none;
        word-break: break-word;
        color: #0138ff;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    div[class*="MuiExpansionPanelSummary-root"] {
      margin-left: 24px;
      min-height: 30px;
      div[class*="MuiExpansionPanelSummary-content"] {
        // margin-left: 24px;
        min-height: 30px;
        p {
          padding: 3px 0px;
        }
      }
      div[class*="MuiExpansionPanelSummary-expandIcon"] {
        height: 30px;
        width: 30px;
        top: 15px;
      }
    }
    .search-inner-table {
      margin-top: 10px;
      table {
        table-layout: fixed;
      }
      table > thead > tr {
        height: 30px;
      }
      table > thead > tr th {
        font-size: 13px;
      }
      table tbody > tr {
        height: 30px !important;
      }
      table tbody > tr > td {
        font-size: 13px;
      }
      table tbody > tr > td label > span > span > svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  .refine-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;

    span {
      font-size: 13px;
      padding-top: 5px;
    }

    a {
      font-size: 13px;
      color: #0557d5;
      font-weight: 600;
    }
  }
  .page-count {
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 14px;
  }
  .search-icon {
    float: left;
    svg {
      color: #292929 !important;
      height: 15px;
      margin-left: 3px;
    }
  }
  .chip {
    float: left;
    margin-left: 20px;
    margin-top: -2px;
  }
  .grid-item {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 100px; */
    overflow: hidden;
    &.bold-class {
      font-weight: bold;
    }
  }
  .expand-all {
    float: right;
    font-size: 13px;
    margin-right: 20px;
    margin-top: 5px;
    svg {
      vertical-align: bottom;
      height: 14px;
      cursor: pointer;
    }
    span {
      // vertical-align: middle;
      font-size: 12px;
      color: blue;
      cursor: pointer;
    }
  }
  .sort-by {
    float: right;
    font-size: 12px;
    font-weight: 500;
    span {
      margin-right: 5px;
    }
    button {
      margin-right: 0 !important;
      padding-right: 0;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body {
    color: #000000;
    font-size: 16px;
    font-family: Proxima Nova, Nunito Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }

  .Multiline-block50h {
    width: 100%;
    text-align: left !important;
    // height: 50px !important;
    height: 25px;
    font-size: 13px;
  }

  .width70 {
    width: 70%;
    float: left;
  }

  .width100 {
    width: 100%;
    float: left !important;
  }

  .width25 {
    display: inline;
    width: 25% !important;
    float: left;
  }

  .width30px {
    display: inline;
    width: 30px !important;
    float: left;
  }

  .width5 {
    display: inline;
    width: 5% !important;
    float: left;
  }

  .width10 {
    display: inline;
    width: 10% !important;
    float: left;
  }

  .width80 {
    display: inline;
    width: 80% !important;
    float: left;
  }

  .width85 {
    display: inline;
    width: 85% !important;
    float: left;
  }

  .width90 {
    display: inline;
    width: 90% !important;
    float: left;
  }

  .width95 {
    display: inline;
    width: 95% !important;
    float: left;
  }

  .width98 {
    display: inline;
    width: 98% !important;
    float: left;
  }

  .floatRight {
    float: right !important;
  }
  .textleft {
    text-align: left !important;
  }

  [class*="MuiCheckbox-colorPrimary"] {
    top: 0 !important;
  }

  [class*="Panel-container"] {
    float: left !important;
  }

  .marginTop {
    margin-top: 20px;
    float: left;
  }

  .marginLeft10 {
    margin-left: 10px !important;
  }

  .marginRight10 {
    margin-right: 10px !important;
  }

  div.width70 span {
  }

  span.font12 {
    font-size: 12px;
  }
  span.font13 {
    font-size: 13px;
  }
  .ellipse {
    text-overflow: ellipsis;
    width: 60%;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    font-weight: 600;
    // width: auto;
    font-size: 13px;
  }

  span.blueText {
    color: #0557d5 !important;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    strong {
      text-transform: uppercase;
    }
  }

  .width200px {
    width: 200px !important;
    float: left;
  }

  .width150px {
    width: 150px !important;
    float: left;
  }

  .width300px {
    width: 300px !important;
    float: left;
  }

  .width700px {
    width: 700px !important;
    float: left;
  }

  .swtichButton {
    margin-top: -8px;
  }

  .divBlock {
    float: left;
    margin-right: 20px;
  }

  .Collapsible {
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;
    padding: 0 0;
    overflow: hidden;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  }
  .Collapsible__contentOuter {
    max-height: 300px;
    overflow: auto !important;
  }

  .Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: black !important;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: white;
    color: white;
    font-size: 12px;
    font-weight: 500;
  }
  .Collapsible__trigger::after {
    content: "+";
    position: absolute;
    font-size: 22px;
    right: 10px;
    top: 0px;
    display: block;
    transition: transform 300ms;
    color: #0557d5;
  }

  .Collapsible__trigger.is-open::after {
    content: "-";
  }

  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }

  .CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
  }

  .CustomTriggerCSS--open {
    background-color: darkslateblue;
  }

  .Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #cbb700;
    color: black;
  }

  div[class^="Panel-container"] span.MuiTypography-root {
    margin-left: 10px;
    font-size: 15px;
  }

  div[class*="MuiFormGroup-root"]
    span[class*="MuiIconButton-label"]:first-child {
    top: 6px;
    font-family: Proxima Nova, Nunito Sans, sans-serif;
    font-size: 10px;
    svg {
      height: 18px;
      width: 18px;
    }
  }
  span[class*="MuiRadio-colorPrimary"] {
    top: 0;
  }
  span[class*="MuiFormControlLabel-label-"] {
    font-size: 13px;
  }

  div[class*="Panel-container"] {
    border: none !important;
  }
}
.virtualization-set {
  .list {
    padding: 10px;
    height: 400px;
    width: 271px;
  }

  .row {
    border-bottom: 1px solid #ebeced;
    text-align: left;
    margin: 5px 0;
    display: flex;
    align-items: center;
  }

  .image {
    margin-right: 10px;
  }

  .content {
    padding: 10px;
  }
}
.range-date-wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 10px 26px;

  label {
    padding: 0 !important;
    margin-top: 15px;
    background-color: none !important;
    border: none !important;
    &:hover {
      background-color: none !important;
      border: none !important;
    }
  }
}
.range-date-wrapper > div > div {
  width: 100%;
  margin: 0;
}

.date-filter {
  .Collapsible__contentOuter {
    max-height: 700px;
    overflow: hidden;
    height: 550px;
    float: left;
    width: 100%;
  }
}
.errorMessage-dateRange {
  padding: 5px 25px;
  color: red;
  margin-top: 20px;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
