.metadata-card {
  overflow-y: auto;
  overflow-y: scroll;
  height: calc(100vh - 160px) !important;
  padding-right: 20px !important;
  thead {
    display: contents !important;
  }
  .digitize-panel-content {
    width: 100%;
    overflow-y: scroll;
    height: auto !important;
    display: block;
  }
  .view-wrapper .MuiCard-root {
    padding: 0;
  }
  .protocol-column {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .other-accordions {
    margin-left: 5px;
    margin-right: 5px;
  }
  .other-accordions [class*='MuiAccordionSummary-root'] {
    background: #e9e9e9;
  }

  .metadata_item [class*='MuiAccordionSummary-root'] {
    background: #e9e9e9;
  }
  .metadata_item {
    padding: 2px 8px 2px 5px;

    [class*='MuiDialog-paperWidthSm-'] {
      max-width: 410px;
    }
    [class*='InternalDialogTitle-title-'] {
      text-align: center;
    }
    [class*='MuiDialogActions-root-'] {
      justify-content: center;
    }
  }
  .metadata-panel-heading {
    padding: 15px 15px 15px 20px !important;
    font-weight: 600;
  }
  .metadat-flex-plus {
    float: left;
  }
  .metadata-plus-icon {
    float: right;
    font-size: 19px;
  }
  .metadata-plus-size {
    font-size: 19px !important;
    color: black;
    cursor: pointer;
  }
  .mR {
    margin-right: 10px;
  }
  .mL {
    margin-left: 10px;
  }
  .selectField {
    width: 50%;
    z-index: 1;
    position: absolute;
    right: 4rem;
    top: 2.5rem;
  }
  .nameField {
    width: 50%;
    z-index: 1;
    position: absolute;
    right: 4rem;
    top: 1.5rem;
  }
  .metadata-checkbox {
    float: right;
  }
  .metadata_item [class*='MuiAccordionSummary-root'].Mui-expanded {
    background: transparent !important;
  }
  .add-section-field {
    max-width: 400;
  }
  .protocol-column {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  th {
    font-weight: bold !important;
    border: 2px solid white;
    background-color: #f9f9f9;
    color: black;
  }
  td {
    border: 2px solid white;
  }
  tr {
    border: 2px solid white;
  }

  [class*='makeStyles-scrollable-'] > tr > th {
    background-color: #f9f9f9;
  }

  [class*='MuiPaper-elevation1-'] {
    border: none;
    padding-bottom: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  .checkbox-pad {
    padding-bottom: 9px;
  }

  [class*='MuiTableCell-root-']:first-child {
    background-color: #f4f4f4;
    padding-left: 10px;
    width: max-content;
  }
  [class*='MuiTableCell-body-'] {
    background-color: #f9f9f9;
    color: black;
  }
  [class*='MuiTableCell-head-'] {
    color: black;
    padding-left: 10px;
  }

  .digitize-panel-content::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  [class*='MuiAccordionDetails-root-'] {
    padding: 0;
    display: contents;
  }

  [class*='MuiTableRow-root-'] {
    height: auto !important;
  }
  tr:last-child {
    td:first-child:nth-last-child(1) {
      display: none;
    }
  }
  [class*='Table-scrollRoot-'] {
    overflow-y: hidden;
  }

  .metaData-boarder {
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
  .view-wrapper .MuiCard-root {
    padding-right: 25px !important;
    height: 100% !important;
  }
  [class*='Table-scrollRoot-'] {
    width: 100% !important;
  }
  [class*='MuiSvgIcon-root-'] {
    width: 1.3em;
    height: 1.2em;
    font-size: 20px;
    color: black;
  }
  [class*='MuiSvgIcon-fontSizeSmall-'] {
    font-size: 16px !important;
  }
  [class*='MuiAccordionSummary-expandIcon'] {
    left: 5px;
  }

  .accordion_summary_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-left: 10px;
  }
  .checkbox-right {
    display: flex;
    justify-content: flex-end;
  }
  .tableContainer {
    width: 100%;
  }
}
.keyText {
  margin: unset;
  input {
    border: none;
    background: #f4f4f4;
    border-radius: unset;
  }
  div {
    margin-top: unset;
  }
}
.gridContainer {
  align-items: center;
  padding: 0 2px;
  .valueText {
    margin-left: 2px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding-right: 3px;
    width: 100%;
    justify-content: space-between;
    div {
      width: 100%;
      border-radius: unset;
      margin: unset;
      border: unset;
    }
    input {
      border-radius: unset;
      background: #f9f9f9;
      border: none;
    }
    .selectBox {
      width: 75%;
      div {
        border-radius: unset;
        border: none;
        background: #eceff4;
        padding: 2px;
      }
    }
  }
  .fieldContainer {
    display: flex;
    align-items: center;
  }
}
.delContainer {
  margin: unset;
  svg {
    cursor: pointer;
  }
}
.crossButton {
  color: red !important;
}
.trashButton {
  font-size: 20px;
}
.cross-Button-admin {
  font-size: 20px;
  color: red !important;
}
.trashButtonsvg {
  width: 30px !important;
  margin-bottom: 2px;
}
.keySelect {
  width: 215px;
  margin-top: -10px;
}
.parent-editable {
  display: flex;
}
.child-editable {
  width: 100%;
}
.iconDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  .iconContainer {
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 5px;
    svg {
      font-size: 1rem;
      cursor: pointer;
      color: white;
    }
  }
}
.subAccContainer {
  padding: 15px;
}

.date-field {
  height: 20rem;
  overflow-y: auto;
}

.modal {
  max-width: 410px;
  [class*='MuiDialog-paperWidthSm-'] {
    max-width: 410px;
  }
  [class*='InternalDialogTitle-title-'] {
    text-align: center;
  }
  [class*='MuiDialogActions-root-'] {
    justify-content: center;
  }
}
.assessment-table-container > div {
  border: 1px solid #eee;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
}
.assessment-table-container > div > div {
  overflow-y: auto !important;
  .input-container {
    margin: 6px auto;
    input {
      height: 28px;
    }
  }
  td > div {
    text-align: center;
  }
  tr > td:first-child > div {
    text-align: left;
  }
  th {
    text-align: center;
  }
  tr > th:first-child {
    text-align: left;
  }
  td {
    select {
      width: 90%;
      margin: 12px auto;
      padding: 6px;
    }
  }
}
.assessment-table-container {
  padding: 12px;
  .adjust-ellipses {
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  [class^='MuiTableCell-root']:last-child {
    // max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
  }
}
.assessment-checkbox-container {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  .assessment-checkbox {
    margin-right: 10px;
    label {
      margin-left: 5px;
      vertical-align: text-bottom;
    }
  }
}
.full-view-modal {
  max-width: 100% !important;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.assessment-dropdown {
  padding: 8px;
}
.asssessment-content {
  .column-settings-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-bottom: -7px;
    margin-top: 10px;
  }
  .column-settings {
    position: absolute;
    z-index: 20;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    right: 40px;
    .checkbox-items {
      margin-bottom: 5px;
      label {
        margin-left: 5px;
      }
    }
  }
  .dropdown-plus {
    display: flex;
    justify-content: space-between;

    .assessment-select {
      min-width: 150px;
      margin-left: 12px;
      svg {
        height: 1rem;
        width: 1rem;
        font-size: 1.5rem;
      }
    }
    .plus-containter {
      margin-top: 25px;
      height: 26px;
      width: 26px;
      background-color: #333;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        height: 20px;
        svg {
          height: 1rem;
          width: 1rem;
          color: #fff;
        }
      }
    }
  }
  .modal-icons {
    display: flex;
    justify-content: flex-end;
    svg {
      cursor: pointer;
    }
  }
}
.audit-info-line {
  margin-bottom: 5px;
}
