.button-container.font-properties {
  background: #fff;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0px;
  justify-content: flex-start;
  z-index: 9;
  .button-exec-icon {
    background-color: #fff;
    border: navajowhite;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    svg {
      width: 0.6em;
      height: 0.6em;
      vertical-align: middle;
    }
  }
  .button-exec-icon:hover {
    background-color: #eee;
  }
  &.disabled-btns {
    > .dropdown,
    button {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  .right-menu {
    margin-left: auto;
    display: flex;
    margin-right: 10px;
    button {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 1380px) {
  .button-container.font-properties .button-exec-icon {
    padding: 8px;
    font-size: 10px;
    svg {
      width: 0.5em;
    }
  }

  .dropdown .dropbtn {
    font-size: 10px;
    padding: 5px;
    line-height: 1;
  }

  .right-menu button svg {
    font-size: 12px;
  }

  .button-container.font-properties .right-menu {
    margin-right: 50px;
  }
}
