.qc-parent {
  margin-left: 37px;
  margin-top: 65px;
  .qc-tabs-parent {
    margin-top: 20px;
    .MuiTab-root {
      font-size: 14px;
      margin-right: 0;
      padding: 6px 14px;
      min-height: 10px;
      opacity: 0.5;
      border-bottom-width: 5px;
      --tw-border-opacity: 0;
      border-color: #0768fd;
    }
    .MuiTab-textColorInherit.Mui-selected {
      opacity: 1;
    }
    .MuiTabs-indicator {
      display: none;
    }
  }
  .qc-protocol-table {
    .adjust-ellipses {
      max-width: 450px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .button-style {
    width: 100px;
    height: 35px;
    position: absolute;
    left: 87%;
    margin-top: 8px;
    z-index: 1;
  }
  .MuiTabs-root::before {
    width: 13%;
  }
  .modal {
    max-width: 100%;
  }
  .breadcrumbs {
    padding-inline-start: 0;
    margin-bottom: 0;
    margin-top: 66px;
  }
}
