.bladeContainer {
  hr {
    margin-bottom: 0;
  }

  [class*='Blade-body-'] {
    background: #f6f7fb;
    height: 100%;
    padding: 5px 0 0 20px !important;
  }
  [class*='Blade-left-'] {
    padding: 0;
  }

  [class*='Blade-body-'] > div > div {
    background: #f6f7fb;
  }
  [class*='Blade-body-'] > div > div [class*='Accordion-expanded-'] > p {
    font-weight: bold;
  }
  [class*='blade-body-'] > div > div [class*='MuiAccordion-root-'] {
    height: 41px;
  }

  [class*='MuiAccordionSummary-root-'] {
    height: 22px;
    min-height: unset;
  }

  [class*='MuiAccordionSummary-root-'] > div:first-child {
    height: 24px;
    min-height: unset;
  }

  [class*='MuiAccordionSummary-root-'] > div:first-child > p {
    height: 18px;
    margin: 0;
  }

  [class*='MuiAccordionSummary-root-'] > div:nth-child(2) {
    height: 14px;
    top: 10px;
  }

  [class*='MuiAccordion-root'] {
    margin-top: 10px;
    background-color: #f6f7fb;
    //  padding: 0 0 0 10px;
  }
  [class*='MuiAccordionDetails-root-'] {
    padding: 0 0 0px 10px;
  }
  .Mui-expanded [class*='MuiAccordionDetails-root'] {
    padding: 0 0 0 10px;
  }

  .Mui-expanded
    [class*='MuiAccordionDetails-root']
    [class*='MuiCollapse-container']
    p {
    padding: 0 0 0 20px;
  }

  .Mui-expanded [class*='MuiAccordionDetails-root'] [class*='MuiPaper-root'] {
    background: #f6f7fb;
  }
  [class*='MuiCollapse-wrapper-'] {
    padding-left: 4px;
  }
}

.header-unselect {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
  margin-top: 14%;
}
