.document-tab {
  width: 100%;

  .source-document-tab {
    width: 100%;
    [class^="Table-root-"] {
      height: 160px;
    }
    [class^="InternalTablePagination-toolbar-"],
    [class^=".MuiTableFooter-root-"] {
      display: none;
    }
    .MuiPaper-root:first-child {
      height: 170px;
    }
    .hyperlink {
      &:active {
        color: -webkit-activelink;
      }
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .associate-document-tab {
    width: 100%;
    [class^="Table-tableWrapper-"] {
      overflow-x: hidden;
    }
    .hyperlink {
      &:active {
        color: -webkit-activelink;
      }
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
