.document-tab {
  width: 100%;
  .compare-buttons {
    display: flex;
    margin-left: auto;
  }

  .source-document-tab {
    width: 100%;
    // [class^="Table-root-"] {
    //   height: 160px;
    // }
    // [class^="InternalTablePagination-toolbar-"],
    // [class^=".MuiTableFooter-root-"] {
    //   display: none;
    // }
    [class^="Table-tableWrapper-"] {
      overflow: hidden;
    }
    tbody tr:last-child {
      display: none;
    }
    .hyperlink {
      &:active {
        color: -webkit-activelink;
      }
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .associate-document-tab {
    width: 100%;
    [class^="Table-tableWrapper-"] {
      overflow-x: hidden;
    }
    .hyperlink {
      &:active {
        color: -webkit-activelink;
      }
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
