
.protocols {
  margin-top: 60px;
  // max-width: 1200px;
  .protocol-tabs{
    width: 100%;
  }
  .p-rl-20{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }
  .protocol-source-column,
  .protocol-digitize-column{
    border: none;
    .panel-heading{
      padding: 15px 15px 15px 45px;
    }
  }
  .br-cr-protocol {
    color: #333;
  }
  .protocol-title span {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    // display: block;
  }
  .view-wrapper {
    html {
      scroll-behavior: smooth;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 12px;
    }
    table tbody tr td {
      padding: 5px;
      width: 1%;
    }
    thead {
      display: none;
    }
    table tbody tr th:first-child {
      display: none;
    }
    #SUM {
      // thead {
      //   display: table-header-group;
      // }
      table tbody tr th:first-child {
        display: table-header-group;
      }
    }
    h1 {
      padding: 5px;
      margin-top: 50px;
      margin-bottom: 2%;
      width: 100%;
      background-color: lightgrey;
      font-size: 16px;
    }
    h2 {
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 2%;
      width: 100%;
      background-color: rgb(211 211 211 / 50%);
      font-size: 14px;
    }
    h3,
    h4,
    h5,
    h6 {
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 2%;
      width: 100%;
      background-color: rgb(211 211 211 / 30%);
      font-size: 14px;
    }
  }
  // table tbody tr:nth-child(1) { font-weight: bold; background-color: #f2f2f2; }
  // margin-top: 70px;
  // padding-left: 20px;
  // max-width: 1140px;
  // margin: 70px auto 10px;

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h2.header {
    color: #333;
    margin-top: 10px;
    margin-left: 9px;
  }
  tab-column {
    display: flex;
    .overview {
      margin-left: 9px;
      margin-top: 10px;
      width: 100%;
      .MuiTab-root {
        font-size: 14px;
        margin-right: 0;
        padding: 6px 14px;
        border: 0px solid white;
        min-height: 10px;
        opacity: 0.5;
        border-bottom-width: 4px;
        --tw-border-opacity: 0;
        border-color: rgb(10, 149, 235);
      }
      .MuiTab-textColorInherit.Mui-selected {
        opacity: 1;
      }
      .MuiTabs-indicator {
        display: none;
      }
      .MuiTabs-root::before {
        border: none;
      }
      .tab-container {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
      }
      .tab-card {
        flex: 3;
        // border: 1px solid #c3c3c3;
        height: max-content;
        .protocol-title div:first-child {
          font-size: 14px;
          margin-top: 10px;
        }
        .protocol-title div:last-child {
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .card-header {
          font-size: 16px;
          margin: 0;
        }
        .data-container {
          display: flex;
          flex-direction: row;
          margin-top: 15px;
          .column-6-12 {
            flex: 1;
          }
          .row-item {
            display: flex;
            font-size: 12px;
            margin-bottom: 8px;
            label {
              flex: 1;
            }
            span {
              flex: 1;
            }
          }
        }
      }
      .chart-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 10px 20px;
        // border: 1px solid #c3c3c3;
        margin-left: 10px;
        .chart-title {
          font-size: 14px;
          font-weight: 500;
        }
        .recharts-wrapper {
          height: 180px !important;
          width: 180px !important;
          .recharts-surface {
            height: 180px !important;
            width: 180px !important;
          }
        }
      }
    }
  }
  .normal {
    font-weight: normal;
  }
  .thick {
    font-weight: bold;
  }
  .indent {
    margin-left: 10px;
  }
  p {
    margin-bottom: 0;
    // margin-top: 5px;
  }
  .thicker {
    font-weight: 900;
  }
  .dropdown-wrapper {
    // position: relative;
    width: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.15);
    // border-radius: 0.25rem;
    font-size: 14px;
  }
  .dropdown-item {
    display: block;
    width: auto;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 14rem;
    // padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    width: 30%;
    overflow: hidden;
  }
  .sample {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    transform: translate3d(185px, 0px, 0px);
    top: -3px;
    left: 9%;
    will-change: transform;
  }
  .show-nav {
    display: block;
  }
  .btn {
    width: 100%;
    /* height: 27px; */
    padding: 10px;
    border: none;
    color: black;
    // padding: 16px 32px;
    // margin-left: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    // margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    background: none;
    border-left: 8px solid transparent;
    text-transform: capitalize;
  }
  // .btn1 {
  //   background-color:rgba(0,255,0,0.2);
  //   color: black;
  //   border-left: 8px solid #4CAF50;
  // }
  .btn1:hover,
  .btn1:active,
  .btn1:focus,
  .active {
    border-left: 8px solid #0491f3;
    background-color: #0491f336;
  }
  .index-column {
    flex: 1 1;
    height: max-content;
  }
  .protocol-column {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
  }
  .view-wrapper {
    position: relative;
    width: 100%;
    display: flex;
   
  }
  .view-wrapper .MuiCard-root {
    padding: 0;
  }
  label {
    font-weight: bold;
  }
  .text-capitalize {
    text-transform: capitalize;
  }
}

.sidebar-blade > div > :last-child {
  display: none;
}

.pdf-loaded react-pdf__Page__canvas pdf-page {
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.sticky-bottom {
  top: 60vh;
  position: absolute;
  justify-content: space-between;
  overflow: auto;
  box-sizing: border-box;
  height: 56px;
  width: 320px;
  border: 1px solid #e9e9e9;
  border-radius: 0 0 4px 4px;
  background-color: #f6f7fb;
}
.buttonStyles {
  width: 24px;
  height: 25px;
  line-height: 45px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  background-color: #595959;
  color: #fff;
  min-width: auto !important;
  text-align: center;
  padding-left: 10px;
  left: 2px;
  margin-right: 10px;
  padding-left: 10px;
  top: 9px;
  justify-content: center;
}
// .sticky-bottom {
//   top: 59vh;
//   position: absolute;
//   justify-content: center;
//   overflow: auto;
//   border: thin;
//   background-color: #f6f7fb;
// }
.MuiInputBase-inputMarginDense-3199 {
  height: 27px;
}
.InternalTablePaginationActions-root-346 {
  background-color: #f6f7fb;
}
.MuiPaper-root-520 {
  background-color: #f6f7fb;
}
.test {
  width: '450' !important;
}
