.protocols {
  // margin-top: 70px;
  padding-left: 20px;
  max-width: 1140px;
  margin: 70px auto;
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h2.header {
    color: #333;
    margin-top: 10px;
    margin-left: 9px;
  }
  .tab-column {
    display: flex;
    .overview {
      margin-left: 9px;
      margin-top: 10px;
      width: 100%;
      .MuiTab-root {
        font-size: 14px;
        margin-right: 0;
        padding: 6px 14px;
        border: 1px solid #c3c3c3;
        min-height: 10px;
        opacity: 0.5;
      }
      .MuiTab-textColorInherit.Mui-selected {
        opacity: 1;
      }
      .MuiTabs-indicator {
        display: none;
      }
      .MuiTabs-root::before {
        border: none;
      }
      .tab-container {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
      }
      .tab-card {
        flex: 3;
        // border: 1px solid #c3c3c3;

        height: max-content;
        .protocol-title div:first-child {
          font-size: 14px;
          margin-top: 10px;
        }
        .protocol-title div:last-child {
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .card-header {
          font-size: 16px;
          margin: 0;
        }
        .data-container {
          display: flex;
          flex-direction: row;
          margin-top: 15px;
          .column-6-12 {
            flex: 1;
          }
          .row-item {
            display: flex;
            font-size: 12px;
            margin-bottom: 8px;
            label {
              flex: 1;
            }
            span {
              flex: 1;
            }
          }
        }
      }
      .chart-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 10px 20px;
        // border: 1px solid #c3c3c3;
        margin-left: 10px;
        .chart-title {
          font-size: 14px;
          font-weight: 500;
        }

        .recharts-wrapper {
          height: 180px !important;
          width: 180px !important;

          .recharts-surface {
            height: 180px !important;
            width: 180px !important;
          }
        }
      }
    }
  }

  .normal {
    font-weight: normal;
  }

  .thick {
    font-weight: bold;
  }

  .heading1,
  .heading2,
  .heading3 {
    margin-bottom: 5px;
  }

  .indent {
    margin-left: 10px;
  }

  p {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .thicker {
    font-weight: 900;
  }

  .dropdown-wrapper {
    // position: relative;
    width: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.15);
    // border-radius: 0.25rem;
  }

  .dropdown-item {
    display: block;
    width: auto;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 14rem;
    // padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .sample {
    position: absolute;
    transform: translate3d(185px, 0px, 0px);
    top: -3px;
    left: 7%;
    will-change: transform;
  }

  .show-nav {
    display: block;
  }

  .btn {
    width: 100%;
    /* height: 27px; */
    padding: 10px;
    border: none;
    color: black;
    // padding: 16px 32px;
    // margin-left: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    background: none;
    border-left: 8px solid transparent;
  }

  // .btn1 {
  //   background-color:rgba(0,255,0,0.2);
  //   color: black;
  //   border-left: 8px solid #4CAF50;
  // }

  .btn1:hover, .btn1:active, .btn1:focus  {
    border-left: 8px solid #0491f3;
    background-color: #0491f336;
  }

  .index-column {
    flex: 1 1;
    height: max-content;
  }
  .protocol-column {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .view-wrapper {
    position: relative;
    width: 100%;
    display: flex;
  }

  .bar {
    height: 30px;
    margin-top: 5%;
    margin-bottom: 4%;
    float: left;
    width: 100%;
    background-color: lightgrey;
  }
}
