.resize-container-pt {
  position: relative;
  width: 100%;
  .left-panel {
    width: 0vw;
    position: absolute;
    left: 0;
    height: 74vh;
    display: none;
    // padding-left: 4px;
  }
  .right-panel {
    position: absolute;
    width: 96vw;
    // padding-left: 4px;
    height: 74vh;
    right: 0;
  }

  .resize {
    background-color: #ccc;
    position: absolute;
    left: 0%;
    width: 4px;
    height: 74vh;
    cursor: w-resize;
    display: none;
  }
}
