.contentmenu {
  margin-left: auto;
  margin-right: 20px;
  &.hide {
    display: none;
  }
  &.show {
    button {
      padding: 10px;
      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
