.contentmenu {
  position: absolute;
  left: -50px;
  top: -8px;
}

.contentmenu.hide {
  display: none;
}

.contentmenu.show {
  display: block;

  button {
    height: 15px;
    width: 15px;
    left: 18px;
    padding: 0;
    top: 5px;

    svg {
      height: 15px;
      width: 15px;
    }
  }
}
