.btn-container {
  position: absolute;
  top: 15px;
  right: 25px;
}

.img-container {
  border: 1px solid #dadada;

  //   padding: 65px 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: inset 0 0 2px 3px rgb(233 233 233 / 40%);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20vh;
  min-height: 150px;
}

.richTextImg {
  height: 100%;
  min-height: 150px;
}

.img-container-read-mode {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: max-content;
  height: 20vh;
  min-height: 150px;
  position: relative;
}

.img-edit-btn-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.4);
}
