.img-container {
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: inset 0 0 2px 3px rgb(233 233 233 / 40%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 20vh;
  min-height: 200px;

  .rich-text-img {
    height: 125px;
  }

  .btn-container {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button {
      margin-right: 10px;
    }
  }

  p.fileUpload-helper {
    font-size: 14px;
  }
}

.img-container-read-mode {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;

  position: relative;

  .rich-text-img {
    width: 50%;
  }
}

.img-edit-btn-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 5px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.4);
  > button {
    margin-top: 20px;
  }
}

.delete-confirmation-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  margin: 2px;
  border: 1px solid #aaa;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button:first-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1380px) {
  .delete-confirmation-box {
    p {
      font-size: 12px;
      margin-bottom: 10px;
    }
    button {
      padding: 5px;
      height: 25px;
      font-size: 10px;
    }
  }
}
