.format-container {
  position: relative;
  width: max-content;
  min-width: 300px;
  .button-container {
    position: absolute;
    right: -80px;
    top: -40px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    // border: 1px solid #c9c9c9;
    .button-exec-icon {
      background-color: #fff;
      border: navajowhite;
      // border-right: 1px solid #c9c9c9;
      cursor: pointer;
      padding: 5px;
      background-color: #fff;
      border: navajowhite;
      cursor: pointer;
      padding: 10px;
      font-size: 14px;
    }
    .button-exec-icon:hover {
      background-color: #eee;
    }
    img {
      height: 12px;
    }
  }
  .contentEditable {
    outline: none;
  }
}
