#protocol-table {
  .table-selection {
    width: 50%;
    float: left;
  }

  table thead tr th {
    white-space: nowrap;
  }

  a:-webkit-any-link {
    text-decoration: none;
  }
  [class^="MuiTableCell-root"]:last-child {
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
  }

  // table thead tr th:first-child + th,
  // table tbody tr td:first-child + td {
  //   display: none;
  // }
  // table tbody tr:last-child { max-height: 48px; }
  .ex-text {
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .long-text,
  .long-text2 {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .long-text2 {
    max-width: 400px;
  }
  // [class^="MuiTableRow-root-"] {
  //   background-color: #f6f7fb;
  // }
  [class^="InternalTableBody-expandedRowEditMode-"] {
    background-color: white;
  }
  .dashboard-search-parent {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  .fw-8 {
    font-weight: 800;
  }

  .extended-data {
    margin-left: 32;
    width: 20%;
  }

  .expanded-comp {
    display: flex;
    padding: 18px 0px 8px 10%;
    background-color: white;
    // margin-left: 3%;
    text-transform: capitalize;
  }
  // Empty Spaces when rows are less in table-- starts
  [class^="MuiTableBody-root"] {
    [class^="MuiTableRow-root"] {
      // height: 14px !important;
      height: 0px !important;

      [class^="MuiTableCell-root"]:nth-child(-n + 2) {
        // padding-top: 2px;
        // try belwo and comment about padding top
        padding-bottom: 2px;
      }
      [class^="MuiTableCell-root"]:nth-child(n + 2) {
        padding-top: 8px;
        padding-bottom: 6px;
      }
    }
  }

  [class^="EmptyRow-root-"] {
    td {
      height: 200px !important;
    }
  }
  // [class^="EmptyRow-root-"]{
  //   td{
  //     height: 200px !important;
  //   }
  // }
  // Empty Spaces when rows are less in table-- ends
}

.dashboard-search-parent {
  .search-list-ul {
    list-style-type: none;
    padding: 0;
    max-height: 9em;
  }

  .search-list-ul-scroll {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: 9em;
  }

  .search-list-li {
    padding-bottom: 10px;
  }
  .search-list-li > a {
    text-decoration: none;
  }
  .view-more-icon {
    font-size: 19.22px !important;
    margin-left: 14px;
  }
}
.expand-asso-table{
  padding: 20px;
  .view-asso-prot {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    a {
      color: blue;
      // margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 15%;
    }
  }
}

