.zoom-container {
  display: flex;
  position: relative;
  z-index: 2;
  .zoom-out {
    position: absolute;
    height: 20px;
    right: 70px;
    cursor: pointer;
  }
  .zoom-in {
    position: absolute;
    height: 20px;
    right: 35px;
    cursor: pointer;
  }
}
.react-pdf__Document {
  z-index: 1;
}
