.soa-content-holder {
  margin: 16px 48px 0px 5px;
  width: 100%;
}
.side-nav {
  width: 200px;
  margin-left: 20px;
}
.soa-container {
  display: flex;
}
.arrange-panel-container {
  display: flex;
  background: rgb(16 85 135);
}
.arrange-panel {
  display: flex;
  height: 40px;
  align-items: center;
}
.arrange-panel-items {
  margin-left: 16px !important;
  color: white !important;
  margin-top: auto !important;
}
.arrange-panel-items .MuiTypography-body1 {
  color: white !important;
}
.arrange-panel-items-setting {
  background-color: #0768fd;
  display: flex;
  align-items: center;
  margin-left: auto !important;
  cursor: pointer;
}

.arrange-panel-items-setting-container {
  display: flex;
  margin: inherit;
}
.row-full-width {
  background: rgb(16 85 135);
  display: flex;
  height: 40px;
  align-items: center;
}

.setting-item {
  display: flex;
  margin-top: 6px;
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}

.column1 {
  background-color: #9fbbd0;
}

.first-header-column {
  background-color: #9fbbd0;
}
.rag-amber {
  background-color: lightsalmon;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.column-group-g {
  background-color: #b5cbdb !important;
}

.column-group-c {
  background-color: #67b168 !important;
}

.button-bar {
  margin-bottom: 16px;
}

.grid-header {
  background-color: #b5cbdb !important;
}
.hand-cursor {
  cursor: pointer;
}
.firstColumn {
  display: flex;
  align-items: center;
}
.header-editing-Item {
  width: 200px;
  height: 25px;
  position: absolute;
}
.base-column {
  background-color: red;
}
.cursor-default {
  cursor: default;
}
