.protocol-view-new {
  display: flex;
  margin-top: 10px;
  .document-section {
    flex: 1;
    max-width: 50%;
  }
  .content-section {
    flex: 1;
    max-width: 50%;
  }
  .add-element {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      vertical-align: middle;
      margin-right: 7px;
      font-size: 14px;
    }
    span {
      font-size: 16px;
    }
  }
  #actions-elements {
    li {
      height: 30px;
    }
  }
  .view-data-container {
    .option-content-container {
      // display: flex;
      .no-option {
        visibility: hidden;
        height: 0px;
        border-bottom: 1px solid transparent;
      }
      .show-option {
        position: relative;
        display: flex;
        justify-content: end;
        border-bottom: 1px dotted;
        border-color: blue;
        button {
          height: 15px;
          width: 15px;
          position: absolute;
        }
        .plus-icon {
          height: 10px;
          width: 10px;
        }
      }
    }

    .protocol-column {
      margin-left: 5px;
      .accordion-start-container {
        scroll-padding: 50px 0px 0px 50px;
        overflow-y: scroll;
        height: 76vh;
        .accordion-parent {
          margin-bottom: 5px;
          .accordion-parent-detail-container {
            padding: 0px 8px;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          .accordion-parent-header {
            color: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: inherit;
            padding-top: 12px;
            text-transform: capitalize;
          }
          .accordion-child-header {
            color: inherit;
            font-size: 15px;
            font-weight: 500;
            line-height: inherit;
            padding-top: 11px;
            text-transform: capitalize;
          }
          .level-3-header {
            // background-color: #f4f4f4;
            // padding: 3px 8px 5px 8px;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
          }
          .text-para {
            padding: 0px 8px;
          }
          .pd-view-text-area {
            height: 50px;
            width: 85%;
            padding: 10px 12px;
            font-size: 14px;
            font-style: normal;
            font-family: "Proxima Nova";
            line-height: 22px;
          }
        }
        .accordion-parent > div:nth-child(1) {
          background-color: #f8f8f8;
        }
      }
    }
  }
}
.pt-search {
  padding-left: 5px;
  input {
    height: 32px;
    padding: 6px 11px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
