.bladeContainer {
  .toc-wrapper {
    height: 100%;
    overflow-y: overlay;
  }
  .MuiPaper-root div:nth-last-child(2) {
    padding-right: 0 !important;
  }
  hr {
    margin-bottom: 0;
  }

  [class*='Blade-body-'] {
    background: #f6f7fb;
    height: 100%;
  }
  [class*='Blade-left-'] {
    padding: 0;
  }

  [class*='MuiBackdrop-root'] {
    top: 141px;
  }

  h3 {
    padding-left: 20px;
  }
  [class*='Blade-body-'] > div > div {
    background: #f6f7fb;
  }
  [class*='Mui-expanded'] > p {
    font-weight: bold;
  }
  [class*='blade-body-'] > div > div [class*='MuiAccordion-root-'] {
    height: 41px;
  }
  .MuiAccordionSummary-expandIcon {
    left: 10px;
  }

  [class*='MuiAccordionSummary-root-'] {
    height: 24px;
    min-height: unset;
    padding: 0px;
  }

  [class*='MuiAccordionSummary-root-'] > div:first-child {
    height: 24px;
    min-height: unset;
  }

  [class*='MuiAccordionSummary-root-'] > div:first-child > p {
    height: 24px;
    margin: 0;
    padding-left: 36px;
  }

  [class*='MuiAccordionSummary-root-'] > div:nth-child(2) {
    height: 14px;
    top: 10px;
  }

  [class*='MuiAccordion-root'] {
    margin-top: 10px;
    background-color: #f6f7fb;
  }
  [class*='MuiAccordionDetails-root-'] {
    padding: 0 0 0px 10px;
  }
  .Mui-expanded [class*='MuiAccordionDetails-root'] {
    padding: 0 0 0 10px;
  }

  [class*='MuiAccordionSummary-expandIcon'] {
    padding-top: 0 !important;
    * {
      background: none !important;
    }
  }
  .Mui-expanded
    [class*='MuiAccordionDetails-root']
    [class*='MuiCollapse-container']
    p {
    padding: 0 0 0 20px;
  }

  .Mui-expanded [class*='MuiAccordionDetails-root'] [class*='MuiPaper-root'] {
    background: #f6f7fb;
  }
  [class*='MuiCollapse-wrapper-'] {
    padding-left: 4px;
  }

  [class*='Blade-expandPanel-'] {
    width: 0;
  }
}

.header-unselect {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 14%;
  height: 24px;
  width: 170px;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
}

.search-Box {
  width: 205px;
  background-color: #ffffff;
}
