.medical-term {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 13px;
  .word {
    margin: 2px;
    display: flex;
    flex-direction: column;
  }
  .word-box {
    border: 1px solid #eee;
    label {
      border: 1px solid;
      padding: 2px;
      padding-left: 7px;
      background: #f1f1f1;
    }
    button {
      margin-right: 0px !important;
      height: 10px;
      width: 30px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    // span {
    //   background: rgb(255, 219, 225);
    //   padding: 3px;
    // }
  }
}
