.action-menu {
  background: #fff;
  width: 10%;
  display: flex;
  margin-right:50px;
  &.expanded {
    width: 200px;
    margin-right:0;
  }
  &.action-edit-menu{
    margin-top: -35px;
        position: relative;
        z-index: 9999;
        margin-right: 0;
    }
  .open-close {
    display: flex;
    align-items: center;
    background: #d6eaff;
    width: 12px;
    svg {
      cursor: pointer;
      font-size: 1.2rem;
      margin-left: -3px;
    }
  }
  .menu-items {
    padding-left: 10px;
    background: #e7f2ff;
    width: 176px;
    height: 100%;

    .btn-icons {
      background: transparent;
      border: none;
      line-height: 24px;
      padding: 12px 0;
      font-size: 14px;
      align-items: center;
      outline: none;
      display: flex;
      cursor: pointer;
      color: #595959;
      margin: 0;
      min-width: unset;
      .ptIcon {
        color: #fff;
        background: #595959;
        padding: 1px 3px;
        font-size: 11px;
        font-weight: 600;
        margin-right: 20px;
        border-radius: 2px;
        height: 17px;
        display: flex;
        align-items: center;
        &.active {
          background: #0768fd;
          border: none;
        }
      }
    }
    .audit-names {
      background: transparent;
      border: none;
      line-height: 24px;
      font-size: 14px;
      align-items: center;
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      cursor: pointer;
      color: #595959;
      margin: 0;
      min-width: unset;
    }
    fieldset {
      margin: 10px 0;
      padding: 0;
      border: none;
    }
    svg {
      padding-right: 20px !important;
      font-size: 1.2rem;
      &.active {
        color: #0768fd;
        border-left: none;
        background: transparent;
      }
    }
    .active_color {
      color: #0768fd;
    }
    .eye-icon-wrapper {
      display: flex;
      color: #595959;
    }
    .eye-icon {
      font-size: 14px;
    }
  }
}
