.section-single-content{
    .readable-content{ 
        height: 200px;
        flex: 1 1 auto;
    }
}
.accordion_summary_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    .section-title{
    }
}