.section-single-content {
  .readable-content {
    height: 500px;
    flex: 1 1 auto;
    .supContent {
      display: flex;
    }
    p {
      margin: 5px 0 0 0;
    }

    p.header {
      font-weight: bold;
    }
  }
}
.accordion_summary_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  .section-title {
  }
}
