.study-population-acco {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.meta-study-population-acco {
  padding: 0 12px 12px 12px;
  display: block;
}
.derived-mechanism {
  margin-top: 10px;
}
.toggle-prefer-term {
  margin-right: -30px;
  label {
    display: flex;
    flex-direction: row-reverse;
  }
  label > span:nth-child(2) {
    margin-right: 10px;
  }
}
